<div class="container" style=" width: 80%; margin: 0 auto;">
  <h1>Welcome to New York City Council Members!</h1>
  

<input  id="mySearch" type="search"  name="search" class="light-table-filter" data-table="order-table" placeholder="District | Borough | Member | Neighborhood">

<table id="myTable" class="order-table table" style="width: 80%;" border="1" cellpadding="22">
<tbody>
  <thead>
      <tr class="header" style="background-color: #f1f1f1">
        <th style="padding-left: 10px; padding-right: 10px;">district</th>
        <th>member</th>
        <th>borough</th>
        <th>party</th>
        <th>neighborhoods</th>
      </tr>
   </thead>

      <% @councilmembers.each do |councilmember| %> 
    <tr>
        <td style= "padding-left: 20px; padding-right: 10px;"><%=councilmember.id%></td>
        <td><div class="name" style="position:absolute; margin-top: 60px;margin-left: 30px;"><%=councilmember.name%></div><img class="member_image" src="<%=councilmember.image%>"</td>
        <td style= "padding-left: 10px; padding-right: 10px;"><%=councilmember.borough%></td>
        <td style="padding-left: 10px; padding-right: 10px;"><%=councilmember.party%></td>
        <td style="padding-left: 10px; padding-right: 10px;"><%=councilmember.neighborhoods%></td>
    </tr>
      <%end%>

</tbody>
</table>
</div>
